USE [master]
GO
/****** Object:  Database [Workshop2]    Script Date: 2023-07-05 11:40:49 PM ******/
CREATE DATABASE [Workshop2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Workshop2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Workshop2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Workshop2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Workshop2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Workshop2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Workshop2]
GO
/****** Object:  Table [dbo].[BOOK]    Script Date: 2023-07-05 11:40:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOK](
	[id] [varchar](100) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[des] [nvarchar](max) NOT NULL,
	[author] [nvarchar](100) NOT NULL,
	[publicdate] [date] NOT NULL,
 CONSTRAINT [PK_BOOK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PLANES]    Script Date: 2023-07-05 11:40:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PLANES](
	[id] [nvarchar](100) NOT NULL,
	[planenumber] [varchar](20) NOT NULL,
	[destination] [nvarchar](50) NOT NULL,
	[departdate] [datetime] NOT NULL,
	[status] [int] NOT NULL,
 CONSTRAINT [PK_PLANES] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCT]    Script Date: 2023-07-05 11:40:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCT](
	[id] [varchar](50) NOT NULL,
	[name] [nvarchar](200) NOT NULL,
	[des] [nvarchar](max) NOT NULL,
	[unit] [nvarchar](50) NOT NULL,
	[quantity] [int] NOT NULL,
	[price] [real] NOT NULL,
 CONSTRAINT [PK_PRODUCT] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SONG]    Script Date: 2023-07-05 11:40:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SONG](
	[id] [varchar](50) NOT NULL,
	[name] [nvarchar](200) NULL,
	[des] [nvarchar](max) NULL,
	[author] [varchar](50) NOT NULL,
	[link] [varchar](50) NOT NULL,
	[createDate] [date] NOT NULL,
 CONSTRAINT [PK_SONG] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
